.prize-shop {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    width: 100%;
    box-sizing: border-box;
    background: $background-shop;
    padding: 5% 0 1%;
    height: 100%;

    //блоки PrizeShopBlock
    > div {

        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: row;

            >*{
                margin-left: 1%;
            }
        }
        //banner 
        >:nth-child(1){
            position: fixed;
            left: .5%;
            width: 99%;
            height: 13.1%;
            z-index: 60;
            border-radius: 10px;
            box-shadow: 0px 0px 2px 2px rgba(145, 132, 30, 0.7);
            margin-bottom: 5%;
        }
        
        >:nth-child(2),
        >:nth-child(3){
            margin-left: 15%;
            z-index: 70;
        }
        >:nth-child(2){
            height: 100px;
        }
        //board
        >:nth-child(3){
            height: 10px;
            width: 99%;
            margin-left: .5%;
            margin-top: 0;
            border: $border-board;
            background: $background-board;
            border-radius: 5px;
        }

    }
    //header
    >:first-child{
        font-size: 40px;
        margin: 1% auto .5% auto;
        word-spacing: 20px;
    }
    
    
//табличка TakePrize
    
    .take-prize-wrapper{
        z-index: 110;
        @include box-all-body;
        background: $background-window-blind;
        border-radius: 20px;
        
        >div{
            z-index: 120;
            @include box-central-position;
            height: 40%;
            width: 40%;
            background: $background-take-prize;
            
            >div{
                @include box-all-body;
                display: flex;
                justify-content: center;
                align-content: center;
                padding-top: 15%;
                
                //это <NavLink, далее разностится на 
                //.take-prize и .take-prize-warning
                >*{
                    @include box-all-body;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    padding-top: 15%;
                }
            }
        }
    }
    
    .take-prize{
        box-shadow: 0px 0px 20px 25px rgba(227, 177, 152, 0.9);
       
        >*{
            box-shadow: 0px 0px 45px 45px rgba(253, 252, 249, 0.99) !important;   
        }

    }
    .take-prize:after{
        content: 'ПО-ЛУ-ЧИ ПРИЗ';
        color: rgba(195, 75, 23, 0.99);
        font-size: 40px;
        font-weight: 900;
        font-family: Balsamiq Sans;
        word-spacing: 20px;
        display: flex;
        position: fixed;
        top: 67%;
        width: 100%;
        left: 20%;
    }
    .take-prize-warning{
        box-shadow: 0px 0px 40px 25px rgba(227, 92, 92, 0.99);
    }
    //если приз не выбран, warning
    
    .prize-shop-warning-button{
        z-index: 120;
       @include box-all-body;
        background: $background-warning;
        border-radius: 20px;
        
        >span{
            @include box-central-position;
            color: $color-header-red;
            font-size: 40px;
            font-weight: 800;
            word-spacing: 200px;
            line-height: 65px;
            text-align: center;
            height: 65%;
            width: 60%;
        }
    }
    
}
.priz, .priz-progress, .priz-take-prize{
    z-index: 130;
    height: 80px;
    width: 80px;
    border: 3px solid rgba(212, 196, 4, 0.98);
    border-radius: 50%;
    box-shadow: 0px 1px 2px 2px rgba(145, 132, 30, 0.4);
    margin-top: 1%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    span{
        font-size: 45px;
        font-family: sans-serif;
        color: rgba(252, 233, 4, 0.99);
        text-shadow: rgba(42, 14, 1, 0.99) 1px 0px 3px;
        text-align: center;
    }
}
.priz{
    background: $background-priz !important;
}
.priz-progress{
    border: 1px solid rgba(212, 196, 4, 0.98);
}
.priz-take-prize{

}

@keyframes prizHover{
    0%{
       transform: translate(2px,0);    
    }

    50%{
       transform: translate(-2px,0);
    }
    100%{
       transform: translate(2px,0);
    }
}

.priz:hover, .priz-progress:hover, .priz-take-prize:hover{

    animation: prizHover .2s 2 0s linear;
    box-shadow: 1px 1px 3px 3px rgba(145, 132, 30, 0.7);
    span{
        font-size: 50px;
        color: rgba(252, 236, 128, 0.99);
        text-shadow: rgba(74, 18, 1, 0.99) 1px 1px 5px;
    }
}
.priz:hover{
    background: $background-priz-hover !important;
}

@keyframes prizActiv{
    0%{
        box-shadow: 0px 1px 2px 2px #fdeb89;
    }
    100%{
        box-shadow: 0px 1px 15px 15px #ffd804;
    }
}

@keyframes prizActivSpan{
    0%{
        color: #fdeb89;
    }
    100%{
        color: #ffd804;
    }
}


.priz:active{

    background: $background-priz-activ !important;
    animation: prizActiv .4s infinite 0s linear;
    border: 3px solid rgba(248, 241, 183, 0.5);
    span{
        font-size: 48px;
        animation: prizActivSpan .4s infinite 0s linear;
        text-shadow: rgba(74, 18, 1, 0.99) 1px 1px 5px;
    }
}