
main {
    z-index: $z-index-main;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: $background-main;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    user-select: none;
    font-family: Balsamiq Sans;
}
