/*z-index*/
$z-index-navigation: 100;
$z-index-navigation-window-blind: 70;
$z-index-main: 60;
$z-index-footer: 100;


/*Navigation*/
$background-navigation: green;




/*WindowBlind*/
$background-window-blind: rgba(191, 117, 130, 0.53);


/*Main*/
$background-main: pink;


/*Home*/
$background-home: white;
$background-home-block: pink;
$background-preview-element: white;

/*footer*/

$background-footer: green;

/*Automation*/

$background-automation-wrapper: white;