
.home {
    user-select: none;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: $background-home;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;


    //Authorization
    > :first-child {
        display: flex;
        position: relative;
        height: 100%;
        margin: 0 auto 0.5rem auto;
        flex-direction: row;
        background-image: url(./backg_3.jpg);
        object-fit: cover;
    }
}

//Hi


.home-hi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    box-shadow: 0px 10px 4px 4px #aed676;

    padding: 10% 5% 0 5%;
    background-image: url(./backg.jpg);
    animation-direction:alternate;
    margin-top: 0;
    
    //TypesLetters

    >:nth-child(1), >:nth-child(2), >:nth-child(3){
        display: flex;
        justify-content: center;
        align-items: center;
        height: 380px;
        width: 30%;
        position: relative;
        border-radius: 50%;
        margin-left: 5%;
        margin-right: 5%;


        //буквы
        >div{
            opacity: 0;
            position: absolute;
            display: flex;
            justify-content:flex-start;
            align-items: center;
            
            transition:  opacity 3s ease .1s;
            width: 50px;
            height: 70px;
            font-size: 30px;
            border-radius: 50%;
            outline: none;
            background: rgba(240, 247, 247, 0.51);
            border-left: 20px solid rgba(240, 247, 247, 0.4);
            box-shadow: 0px 5px 15px 5px rgb(185, 211, 211);

            >*{
                text-decoration: none;
                height: 150%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
               // padding-left: -30%;
                margin-left: -20%;
                color: rgba(1, 67, 67, 0.99);
            }

        }
    //буква дергается при наведении
    @keyframes letterHover{
        0%{
            transform:  rotate(10deg);   
        }

        100%{
            transform:  rotate(-10deg);
        }
    }     
    >div:hover{
        z-index: 200;
        background: linear-gradient( to left, rgba(94, 224, 224, 0.84) 0%, rgb(255, 255, 255) 70%, rgba(14, 38, 38, 0.33)100%);
        border-left: 20px solid #fdfd1d;
        box-shadow: 0px 3px 15px 15px rgba(23, 70, 70, 0.5);
        animation: letterHover .2s 2 0s linear;

        font-size: 30px;
        text-shadow: rgb(255, 255, 255) 5px 0px 5px;
        >*{
            margin-left: -15%;
            font-weight: 600;
            color: rgba(1, 67, 67, 0.99);
        }
    }
        
    @keyframes prizActiv{
        0%{
            box-shadow: 0px 1px 2px 2px #fafa87;
        }
        100%{
            box-shadow: 0px 1px 15px 15px #fdfd03;
        }
    }
    >div:active{
        z-index: 200;

        border-left: 0px solid #fdfd1d;
        width: 70px;
       // box-shadow: 0px 3px 15px 15px rgba(23, 70, 70, 0.74);
        background: linear-gradient(#fdfd1d, #fafa87, #fdfd1d);
        animation: prizActiv .6s infinite 0s linear;
        font-size: 30px;
        text-shadow: rgb(255, 255, 255) 5px 0px 5px;
        >*{
            margin-left: 3%;
            color: darkblue;
        }
    }
        //солнышко 
        @keyframes sunShadow{
            0%{
                box-shadow: 0px 1px 15px 15px gold;
            }
            50%{
                box-shadow: 0px 1px 25px 25px #fafa87;
            }
            100%{
                box-shadow: 0px 1px 25px 25px gold;
            }
        }
        >:nth-child(1){
            opacity: 1;
            width: 150px;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid rgba(253, 253, 66, 0.5);
            background: linear-gradient( gold, #fdfd1d, #fafa87, #fdfd1d, gold);
            animation: sunShadow 2s infinite 0s linear alternate;
            transition:  all 2s ease 0s, box-shadow 2s ease 1s;
            font-weight: 500;
            color: rgba(1, 67, 67, 0.99);
        }
        >:nth-child(1):hover{
            background: linear-gradient( gold, #fdfd1d, #fafa87, #fdfd1d, gold);
        }
    }
    
    >:nth-child(1):hover, 
    >:nth-child(2):hover, 
    >:nth-child(3):hover{
        transition: box-shadow 2s ease 1s;
        box-shadow: 0px 1px 150px 150px rgba(248, 248, 199, 0.5);
    }
    //появляются облака
    >:nth-child(1):hover >div, 
    >:nth-child(2):hover >div, 
    >:nth-child(3):hover >div{
        opacity: 1;
    }

    //солнышко увеличивается, появляются лучи
        @keyframes sunShadowHover{
            0%{
                box-shadow: 0px 1px 45px 30px #fcfc06;
            }
            50%{
                box-shadow: 0px 1px 105px 75px rgba(253, 253, 18, 0.69);
            }
            100%{
                box-shadow: 0px 1px 95px 120px #ffeb00;
            }
        }
    >:nth-child(1):hover >:nth-child(1), 
    >:nth-child(2):hover >:nth-child(1), 
    >:nth-child(3):hover >:nth-child(1){
        width: 200px;
        height: 200px;
        animation: sunShadowHover .5s infinite 0s linear alternate;
        border: 3px solid rgba(253, 253, 66, 0.5);
    }
    
}
