@import "./normalize.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    outline: none !important;
}

@import './color_const.scss';
@import "./mixin_const.scss";

@import './Registration.scss';

@import './NavigationWindowBlind';
@import './Navigation/NavigationConsole';

@import './Main/Main.scss';
@import './Home.scss';

@import './PrizeShop/PrizeShop.scss';

@import './Automation/FinaleTakePrize.scss';

@import './UI/ButtonScrollDownUp';

@import './Automation/Automation.scss';
@import './Automation/ButtonLetter.scss';
@import './Automation/CoinsMedals.scss';

@import './Home/MenuCircular.scss';