
.automation-wrapper {
    user-select: none;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
 // background: linear-gradient(-5deg, #0486db,  #0275c1) !important;
   // background: #97c7ea;
   // background: rgba(51, 140, 206, 0.31);
    background: rgba(19, 109, 177, 0.4);
    margin: 0;
    flex-direction: column;
}

    //SelectingLevelBlock
    //> :nth-child(1) 
    .selecting-level-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin: 2% 0 10% 5%;
        
        //уровень
        > :first-child {
            padding: 10px 0;
            margin: 10px 0;
            @include header-automation;
            display: flex;
            position: relative;
            margin-bottom: 15%;
        }

        > :first-child:after {
            content: "";
            @include cloud;
            margin-top: -2%;
        }

        >:nth-child(2){
                    
        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 200px;
            margin-bottom: 10px;

            > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 0%;
                width: 65px;
                height: 65px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            //buttons
            > :nth-child(1) {
                border: none;
                border-radius: 50%;
                box-shadow: 0px 1px 10px 10px rgba(252, 143, 160, 1) inset;
                font-size: 25px;
                color: #fc1a71;
                font-weight: 600;
                transition: all .5s ease 0s;
                background: linear-gradient(-5deg, rgba(206, 158, 166, 0.8), rgba(255, 252, 252, 0.9), rgba(170, 8, 71, 0.19)) !important;
                margin-bottom: 5%;
            }

            @keyframes bubble {
                0% {
                    box-shadow: 0px 1px 15px 15px rgba(253, 139, 169, 1) inset;
                }

                10% {
                    box-shadow: 0px 1px 8px 8px rgba(253, 139, 169, 1) inset;
                }

                20% {
                    box-shadow: 0px 1px 6px 6px rgba(253, 139, 169, 1) inset;
                }

                40% {
                    box-shadow: 0px 1px 4px 4px rgba(253, 139, 169, 1) inset;
                }

                60% {
                    box-shadow: 0px 1px 2px 2px rgba(253, 139, 169, 1) inset;
                }

                80% {
                    box-shadow: 0px 0px 0px 0px rgba(253, 139, 169, 1) inset;
                }

                90% {
                    box-shadow: 0px 1px 5px 5px rgba(253, 139, 169, 1);
                }

                100% {
                    box-shadow: 0px 1px 35px 35px rgba(253, 139, 169, 1);
                }
            }

            @keyframes bubbleText {
                0% {
                    transform: translate(1px,0);
                }

                50% {
                    transform: translate(-1px,0);
                }

                100% {
                    transform: translate(1px,0);
                }
            }

            > :nth-child(1):hover {
                animation: bubble .6s 1 0s ease;
                background: linear-gradient(-20deg, rgba(216, 192, 192, 0.8), rgba(255, 249, 249, 0.99), rgba(230, 182, 182, 0.8)) !important;
                box-shadow: 0px 1px 5px 5px rgba(140, 162, 198, 0.8);
                transform: rotate(360deg);

                > span {
                    color: #e2065b;
                    font-size: 30px;
                    animation: bubbleText .2s 1 .7s linear;
                    transition: all .5s ease 0s;
                }
            }

            > :nth-child(1):active {
                box-shadow: 0px 1px 1px 1px rgba(212, 212, 212, 0.99);
                background: linear-gradient(-5deg, rgba(206, 158, 166, 0.8), rgba(255, 252, 252, 0.9), rgba(170, 8, 71, 0.19)) !important;

                > span {
                    color: #aa0847;
                    font-size: 25px;
                }
            }
            //coins
            
            // div для появления coin после прохождения уровня
            > :nth-child(2) {
                width: 70px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                text-shadow: #e2e2e2 0px 0px 7px;
            }
        }
    }
}
            

    .clearButton {
        @include clear-button-auto;
        position: fixed;
        left: 5%;
        bottom: 5%;
        margin: 10px 0;
    }
    
    

.automation-buttons-blocks {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    height: 98%;
    
    //all 3 blocks
    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    //LevelBlock
   // > :nth-child(2)
    .level-block {
        width: 55%;
        margin: 7% 0;

        //буква Т заголовок
        
        > :nth-child(1) {
            z-index: 100;
            position: relative;
            margin-bottom: 5%;
            margin-left: -2%;
            color: #fd0447;
            font-size: 40px;
            font-weight: 800;
            width: 40%;
            text-align: center;

            > span {
                padding-left: 13%;
                font-size: 60px;
                font-weight: 900;
                color: #ff1c85;
            }
        }

        > :nth-child(1):after {
            content: "";
            @include cloud;
        }

        > :nth-child(2) {
            border-radius: 15px;
            width: 90%;
            
        }
    }
    
    @keyframes bubble-coin-level-completed {
                0% {
                    box-shadow: 0px 1px 15px 15px rgba(253, 139, 169, 1) inset;
                }

                10% {
                    box-shadow: 0px 1px 8px 8px rgba(253, 139, 169, 1) inset;
                }

                20% {
                    box-shadow: 0px 1px 6px 6px rgba(253, 139, 169, 1) inset;
                }

                40% {
                    box-shadow: 0px 1px 4px 4px rgba(253, 139, 169, 1) inset;
                }

                60% {
                    box-shadow: 0px 1px 2px 2px rgba(253, 139, 169, 1) inset;
                }

                80% {
                    box-shadow: 0px 0px 0px 0px rgba(253, 139, 169, 1) inset;
                }

                90% {
                    box-shadow: 0px 1px 5px 5px rgba(253, 139, 169, 1);
                }

                100% {
                    box-shadow: 0px 1px 35px 35px rgba(253, 139, 169, 1);
                }
            }
    
    @keyframes select-new-level{
        0%{
            left: 49%;
        }
        70%{
            left: 25%;
            transform: rotate(0);
        }
        75%{
            left: 25%;
            transform: rotate(35deg);
        }
        80%{
            left: 25%;
            transform: rotate(-45deg);
        }
        85%{
            left: 25%;
            transform: rotate(35deg);
        }
        90%{
            left: 25%;
            transform: rotate(-45deg);
        }
        95%{
            left: 25%;
            transform: rotate(35deg);
        }
        100%{
            left: 25%;
            transform: rotate(-45deg);
        }
    }

    .level-completed{
        width: 55%;
        height: 100%;
        
        >:nth-child(1){
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            
            >div{
            }
            >:nth-child(1){
                @include header-automation;
                margin-top: 32%;
                margin-bottom: 15%;
                word-spacing: 20px;
                font-size: 45px;
            } 
            
            >:nth-child(2){
                @include header-automation;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                >span{
                    margin-bottom: 5%;
                 
                }
                //указательный палец
                >:nth-child(1){
                    font-size: 70px;
                    margin-top: 30%;
                    display: flex;
                    position: fixed;
                    top: 5%;
                    text-shadow: #f7f1f1 0px 0px 10px; 
                    color: #ff008a;
                    animation: select-new-level 5s 3 6s ease;
                }
                >:nth-child(2){
                    margin-top: 40%;
                }
            }
            >:nth-child(3){
                @include clear-button-auto;
                width: 32%;
                margin-top: 5%;
            }
        }
    }

    
    //BoxCoinsLevelCompleted
     @keyframes box-coins{
        0%{
            transform: rotate(0);
        }
        74%{
            transform: rotate(0);
        }
        75%{
            transform: rotate(1deg);
        }
        80%{
            transform: rotate(-1deg);
        }
        85%{
            transform: rotate(1deg);
        }
        90%{
            transform: rotate(-1deg);
        }
        95%{
            transform: rotate(1deg);
        }
        100%{
            transform: rotate(-1deg);
        }
    }
    
    > :nth-child(3) {
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 10em;
        margin-bottom: 10px;
        animation: box-coins 1s 1 8s ease;

        > div {
            background: linear-gradient(90deg, rgba(147, 140, 127, 0.99)0%, rgba(209, 197, 128, 0.5) 7%, rgba(255, 255, 249, 0.58)25%, rgba(255, 255, 249, 0.69), rgba(253, 253, 235, 0.57), rgba(253, 237, 150, 0.5), rgba(181, 159, 116, 0.4) 90%, rgba(147, 143, 137, 0.99)99%);
            border-bottom: 5px solid rgba(144, 138, 126, 0.53) !important;
        }

        > :nth-child(1) {
            width: 76%;
            height: 3%;
            border-radius: 5px;
            box-shadow: 0px 10px 20px 6px #e2e2e2;
        }

        > :nth-child(2) {
            width: 100%;
            height: 95%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: flex-start;
            flex-wrap: wrap-reverse;
            padding: 5px;
            margin-bottom: -20px;
            border-radius: 50px;
            box-shadow: 0px -5px 30px 35px rgba(137, 131, 131, 0.5) inset;
            border-top: hidden !important;

            > * {
                display: inline-flex;
                margin: 0;
                font-size: 45px;
                text-shadow: rgba(211, 197, 197, 0.5) 0px 0px 4px;
            }
        }
    }
}

.button-block {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-bottom: 1%;

    >div{
        height: 55px;
        width: 110px;
        border-radius: 15px;
        background: rgba(226, 226, 226, 0.99);
        box-shadow: 0px 2px 1px 1px rgba(130, 156, 175, 0.5) ;
background: linear-gradient(180deg, rgba(214, 214, 214, 0.99), rgba(226, 226, 226, 0.99) 45%, rgba(208, 208, 208, 0.99) );
        
        border: none;
        transition: all .3s ease 0s;
        
        >span{
            font-size: 32px;
            margin-right: 4px;
            color: #080858;
            transition: all .3s ease 0s;
        }
    }
    >div:hover{

         background: linear-gradient(180deg, rgba(198, 197, 197, 0.99), rgba(226, 226, 226, 0.99) 45%, rgba(190, 185, 185, 0.99) );
        box-shadow: 0px 3px 2px 2px rgba(130, 156, 175, 0.61);
        
        >span{
            font-size: 38px;
            color: rgb(33, 2, 204);
        }
    }
    >div:active{
        
         background: linear-gradient(180deg, rgba(198, 197, 197, 0.99), rgba(226, 226, 226, 0.99) 75%, rgba(190, 185, 185, 0.99) );
        box-shadow: 0px 1px 1px 1px rgba(143, 180, 208, 0.5);
        
        >span{
            font-size: 30px;
            color: rgb(21, 3, 119);
        }
    }
    >span{
        font-size: 45px;
    }
    
    >:last-child{
        width: 100px;
        display: flex;
        justify-content: center;
        
        >span{
            text-shadow: #ffffff 0px 0px 10px;
            font-size: 50px;
        }
    }
}
