
.NavigationWindowBlind {
    z-index: $z-index-navigation-window-blind;
    background: $background-window-blind;
    @include box-all-body (fixed);
    cursor: pointer;
    opacity: 1;


}

.letters-Window-Blind{
    font-size:100px;
    color: red;
   
}

img {
    opacity: 1 !important;
}
