
.Navigation {
    z-index: $z-index-navigation;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;    
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    background: $background-navigation;
    transition: transform .25s ease-in;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    user-select: none;

}

.Navigation.close {
    transform: translateY(-50%);
}